@import "tailwindcss";

#root {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

.bg-rabbit-red {
  background-color: #ea2e0e;
}

.text-rabbit-red {
  color: #ea2e0e;
}

.bg-maincolor {
  background-color: #433878;
}

.text-maincolor {
  color: #433878;
}

.bg-secColor {
  color: #7e60bf;
}

.text-secColor {
  color: #7e60bf;
}

.bg-blueColor {
  color: #172554;
}

.text-blueColor {
  color: #172554;
}

.bg-whiteColor {
  color: #e4b1f0;
}

.text-whiteColor {
  color: #e4b1f0;
}

.heading {
  @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold 
  text-gray-900 md:leading-[4rem] leading-[3rem] text-center;
}

.blur-effect-theme {
  @apply bg-white/80 bg-clip-padding text-black backdrop-filter backdrop-blur  
  opacity-100 z-[8000] shadow-sm shadow-slate-100 transition-all duration-300;
}


/* Keyframes for the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.topbar {
  overflow: hidden;
  white-space: nowrap;
  background-color: #433878;
  padding: 0.7rem 0;
  font-size: 1rem;
  /* 1xl equivalent */
  color: #fff;
}

/* Styling for the moving content */
.marquee {
  display: inline-block;
  animation: marquee 1200s linear infinite;
  /* Slower duration: 60 seconds */
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
